[Desktop Entry]
Exec=/home/romik/i3df/.config/kanata/kanata.sh
Icon=application-x-shellscript
Name=kanata.sh
Type=Application
X-KDE-AutostartScript=true
